<form [formGroup]="form">

  <mat-card>

    <mat-card-title>Login</mat-card-title>

    <mat-card-content>

      <div>

        <mat-form-field appearance="outline">

          <mat-label>Username</mat-label>
          <input type="text" matInput formControlName="username">

        </mat-form-field>

      </div>

      <div>

        <mat-form-field appearance="outline">

          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">

        </mat-form-field>

      </div>

    </mat-card-content>

    <mat-card-actions class="actions">
      <button  mat-raised-button color="primary" [matDialogClose]="success" (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>

</form>
